@import "variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "mixins.scss";

@include keyframe__neon--flicker(
  flicker-cerise,
  white,
  white,
  $neon-color-pink
);

@include keyframe__neon--flicker(
  flicker-green,
  black,
  $neon-color-green,
  $neon-color-green
);

@include keyframe__neon--flicker(
  flicker-yellow,
  black,
  $neon-color-yellow,
  $neon-color-yellow
);

body {
  margin: 0px !important;
  font-family: $general-font;
}

#app {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.user-form {
  height: 100vh !important;
  @include alignedGeneralFont();
  @at-root #{&}__card {
    background: rgb(240, 240, 240);
    background-image: linear-gradient(to left, rgb(240, 240, 240), #ffff);
    border-radius: 6px;
    flex-direction: column;
    padding: 10px;
    box-shadow: 5px 5px 8px;
    width: 90%;
    max-width: 600px;
    aspect-ratio: 5/3;
    @include centerVerticalHorizontal();
    align-items: unset;
  }
  @at-root #{&}__flex-row {
    display: flex;
    height: 30%;
  }
  @at-root #{&}__logo {
    flex: 0.5;
    @include centerVerticalHorizontal();
  }
  @at-root #{&}__logo img {
    height: 100%;
  }
  @at-root #{&}__title {
    flex: 0.5;
    font-size: 40px;
    @include centerVerticalHorizontal();
  }
  @at-root #{&}__errElement {
    height: 50px;
    padding: 20px;
    color: red;
  }
}

.beverage-form {
  display: flex;
  flex-direction: column;
}

.container--centered {
  @include centerVerticalHorizontal();
  height: 100%;
  width: 100%;
}

.input-container {
  flex: 1;
  display: grid;
  font-family: $general-font;
  @at-root #{&}__element {
    border: 1px solid black;
    border-radius: 6px;
    margin: 4px;
    padding: 10px;
  }
}

.container--general {
  @include brickBackground();
}

.entry-view {
  height: 100vh !important;
  @at-root #{&}__neon-text {
    @include pageTitleFont();
    font-size: 20vw;
    font-family: $barcode-font;
    margin-bottom: 10vh;
    max-height: 300px;
  }
  @at-root #{&}__logos img {
    height: 8vh;
    margin-bottom: 2vh;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.neon-button {
  background: rgba(0, 0, 0, 0.6);
  font-family: $button-entryView-font;
  font-size: 5vw;
  margin: 20px;
  width: 5em;
  padding: 2vh;
  border-radius: 25px;
  @at-root {
    .neon-button--green {
      color: $neon-color-green;
      border: 3px solid $neon-color-green;
      animation: flicker-green 8s infinite alternate;
    }
    .neon-button--yellow {
      color: $neon-color-yellow;
      border: 3px solid $neon-color-yellow;
      animation: flicker-yellow 10s infinite alternate;
    }
  }
}

@media screen and (prefers-reduced-motion) {
  .entry-view__neon-text,
  .neon-button--green,
  .neon-button--yellow {
    animation: none !important;
  }
}

.card-order {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10%;
  margin: 10px;
  padding: 10px;
  background-color: $light-neon-color-pink;
  &--made {
    background-color: $light-neon-color-yellow !important;
    border: 1px solid $neon-color-yellow !important;
  }
  &--finished {
    background-color: $light-neon-color-green;
    border: 1px solid $neon-color-green;
  }
  &--cancelled {
    background-color: #cccccc;
  }
  &__text--title {
    cursor: pointer;
  }
  &__button {
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
    background-color: white;
  }
}

.drink-list {
  width: 100%;
  flex: 1;
  @at-root #{&}__container {
    height: 80%;
    width: 90%;
    max-width: 800px;
    overflow-y: scroll;
    background-color: black;
    border-radius: 6px;
    flex: 1;
    margin-bottom: 20px;
  }
  @at-root #{&}__container--grey {
    background-color: lightgrey;
    height: 70%;
    max-height: 200px;
    overflow-y: scroll;
  }
  @at-root #{&}__container--grey-full {
    height: 100%;
    max-height: 100%;
    width: 100%;
  }
  @at-root #{&}__button {
    z-index: 1;
    position: absolute;
    bottom: 30px;
    border-radius: 6px;
    font-family: "Pacifico", cursive;
    font-size: 3vmax;
    width: 70%;
    border: 1px solid black;
    background: rgb(240, 200, 48);
  }
  @at-root #{&}__row {
    display: flex;
    align-items: center;
    margin: 10px;
    @include alignedGeneralFont();
  }
  @at-root #{&}__row--constrained {
    height: 15%;
  }
  @at-root #{&}__row--white {
    color: white;
    text-align: center;
  }
  @at-root #{&}__image {
    height: 100%;
    border-radius: 6px;
    border: 1px solid white;
  }
  @at-root #{&}__column {
    color: white;
    width: 30%;
  }
  @at-root #{&}__column--black {
    color: black;
  }
  @at-root #{&}__column--flexed {
    flex: 1;
  }
  @at-root #{&}__buttons {
    flex-direction: row;
    flex: 1;
    @include centerVerticalHorizontal();
    font-family: $general-font;
    color: white;
  }
  @at-root #{&}__star {
    color: lightgray;
    margin-right: -20px;
    margin-top: 5%;
    z-index: 1;
  }
  @at-root #{&}__star--active {
    color: rgb(240, 200, 48);
  }
}

.title-neon--big {
  font-size: 10vh;
  animation: flicker-cerise 10s infinite alternate;
  @include pageTitleFont();
}

.title-neon--small {
  font-size: 7vh;
  animation: flicker-cerise 10s infinite alternate;
  @include pageTitleFont();
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  @include centerVerticalHorizontal();
  @at-root #{&}__content {
    width: 500px;
    background-color: #fff;
    label {
      margin: 5px;
    }
    input {
      height: 25px;
      margin: 5px;
      padding: 3px 5px;
      border-radius: 5px;
    }
    input:hover {
      background-color: lightgrey;
    }
    button {
      border-radius: 5px;
    }
  }
  @at-root #{&}__headfoot {
    padding: 10px;
  }
  @at-root #{&}__title {
    margin: 0;
  }
  @at-root #{&}__body {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
}

.general-button--bw {
  background: none;
  margin: 5px;
  color: white;
  border-radius: 6px;
  border: 1px solid white;
}

.general-button--black {
  color: black;
  border: 1px solid black;
}

.general-button--bw:disabled {
  color: grey;
  border: 1px solid grey;
}

.profile-view {
  height: 100vh !important;
}

.info-card-drink {
  background: black;
  color: white;
  width: 80%;
  height: 20%;
  border-radius: 6px;
  padding: 6px;
  margin-bottom: 10px;
  @at-root #{&}__row {
    flex-direction: row;
    @include centerVerticalHorizontal();
    border-bottom: 1px solid white;
    padding: 10px 0px;
  }
  @at-root #{&}__column {
    text-align: left;
    flex: 1;
  }
  @at-root #{&}__column--flex {
    flex: 1;
    @include centerVerticalHorizontal();
  }
  @at-root #{&}__container--scroll {
    height: 70%;
    overflow-y: scroll;
  }
  @at-root #{&}__title {
    font-size: 20px;
  }
}

.admin-menu-container {
  background-color: black;
  height: 100%;
  padding: 10px;
  @at-root #{&}__button {
    background: none;
    margin: 5px;
    color: white;
    border-radius: 6px;
    border: 1px solid white;
  }
  @at-root #{&}__button:hover {
    background-color: grey;
  }
  @at-root #{&}__tabs {
    margin-left: 6px;
  }
  @at-root #{&}__tab {
    background: black;
    padding: 5px;
    color: white;
    display: inline-block;
    border: 1px solid white;
    margin-bottom: -1px;
    border-radius: 3px 3px 0px 0px;
  }
  @at-root #{&}__tab:disabled {
    background: lightgrey;
    color: black;
  }
  @at-root #{&}__row {
    display: flex;
    max-width: 100%;
    height: 70%;
  }
  @at-root #{&}__column {
    background-color: lightgray;
    flex: 1 0 45%;
    border-radius: 7px;
    margin-left: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    input {
      height: 30px;
      padding: 3px 5px;
      margin: 5px;
      border-radius: 5px;
      border: 1px solid black;
      background-color: #f5f5f5;
    }
    input:hover,
    select:hover,
    input:focus {
      border: 1.5px solid grey;
      background-color: grey;
    }
    select {
      height: 30px;
      padding: 3px 5px;
      margin: 5px;
      border-radius: 5px;
    }
  }
  @at-root #{&}__column--flex {
    border-radius: 0px 7px 7px 7px;
    margin-left: 6px;
    margin-right: 3px;
  }
  @at-root #{&}__subtitle {
    color: white;
  }
  @at-root #{&}__collapsible--collapsed {
    display: none !important;
  }
  @at-root #{&}__collapsible {
    height: 50%;
    display: block;
    overflow-y: scroll;
    border-radius: 6px;
    margin-bottom: 10px;
  }
}
.height100 {
  height: 100%;
}

.navbar {
  background-color: black;
}

.dropdown-toggle::after {
  color: white;
}

.dropdown-menu.show {
  background-color: black;
}

.dropdown-item:hover {
  background-color: black;
  opacity: 0.5;
}
