$neon-color-pink: #ee2a7b;
$light-neon-color-pink: #fbd0e2;
$neon-color-green: #2aee4b;
$light-neon-color-green: #d0fbd7;
$neon-color-yellow: #deee2a;
$light-neon-color-yellow: #f8fbd0;
$dark-background: rgb(26, 26, 26);
$barcode-font: "Libre Barcode 39 Extended Text", cursive;
$button-entryView-font: "Pacifico", cursive;
$general-font: "Montserrat", sans-serif;
